In [16]:
import geopandas as gpd
import pandas as pd
import json
import os

In [11]:
config_path='../../resources/jointemp/WKT2JoinTmp.json'
with open(config_path, 'r') as file:
    config = json.load(file)
rddList=[]
for rddConf in config.get('rdds', []):
    print(rddConf['path'])

hdfs://localhost:9000/butterfly/testin/shenzhen_landuse.csv
hdfs://localhost:9000/butterfly/testin/shenzhen_district.csv

In [18]:
def gpd_read_csv(path,wkt_col='geometry'):
    df = pd.read_csv(path)
    s = gpd.GeoSeries.from_wkt(df[wkt_col])
    gdf = gpd.GeoDataFrame(data=df, geometry=s)
    return gdf

In [26]:
gdf1=gpd_read_csv('/Users/lynnlee/Data/diploma/testin/shenzhen_landuse.csv')
gdf2=gpd_read_csv('/Users/lynnlee/Data/diploma/testin/shenzhen_district.csv')

In [35]:
gpd.sjoin(gdf1,gdf2,how="left",predicate="intersects")

,osm_id,code,fclass,name,geometry,index_right,City,District,Province,Code
0,31352156,7202,park,儿童公园,"POLYGON ((114.11802 22.55546, 114.11812 22.555...",4,深圳市,罗湖区,广东省,440303
1,31355768,7202,park,人民公园,"POLYGON ((114.10992 22.55470, 114.11001 22.555...",4,深圳市,罗湖区,广东省,440303
2,41281446,7202,park,莲花山公园,"POLYGON ((114.04419 22.55648, 114.04426 22.556...",2,深圳市,福田区,广东省,440304
3,51191254,7201,forest,NaN,"POLYGON ((114.14957 22.58459, 114.14964 22.584...",4,深圳市,罗湖区,广东省,440303
4,51191255,7201,forest,NaN,"POLYGON ((114.15101 22.58626, 114.15107 22.586...",4,深圳市,罗湖区,广东省,440303
...,...,...,...,...,...,...,...,...,...,...
5746,1085961938,7218,grass,NaN,"POLYGON ((113.79875 22.64821, 113.79942 22.648...",1,深圳市,宝安区,广东省,440306
5747,1085961939,7218,grass,NaN,"POLYGON ((113.79417 22.64601, 113.79418 22.646...",1,深圳市,宝安区,广东省,440306
5748,1085961940,7218,grass,NaN,"POLYGON ((113.79457 22.64529, 113.79457 22.645...",1,深圳市,宝安区,广东省,440306
5749,1085961941,7218,grass,NaN,"POLYGON ((113.79697 22.64729, 113.79697 22.647...",1,深圳市,宝安区,广东省,440306
5750,1085961942,7218,grass,NaN,"POLYGON ((113.79737 22.64656, 113.79738 22.646...",1,深圳市,宝安区,广东省,440306

In [39]:
gdf2.reset_index().to_csv('../outs/shenzhen_district.csv',index=False)

In [40]:
gdf1

,osm_id,code,fclass,name,geometry
0,31352156,7202,park,儿童公园,"POLYGON ((114.11802 22.55546, 114.11812 22.555..."
1,31355768,7202,park,人民公园,"POLYGON ((114.10992 22.55470, 114.11001 22.555..."
2,41281446,7202,park,莲花山公园,"POLYGON ((114.04419 22.55648, 114.04426 22.556..."
3,51191254,7201,forest,NaN,"POLYGON ((114.14957 22.58459, 114.14964 22.584..."
4,51191255,7201,forest,NaN,"POLYGON ((114.15101 22.58626, 114.15107 22.586..."
...,...,...,...,...,...
5746,1085961938,7218,grass,NaN,"POLYGON ((113.79875 22.64821, 113.79942 22.648..."
5747,1085961939,7218,grass,NaN,"POLYGON ((113.79417 22.64601, 113.79418 22.646..."
5748,1085961940,7218,grass,NaN,"POLYGON ((113.79457 22.64529, 113.79457 22.645..."
5749,1085961941,7218,grass,NaN,"POLYGON ((113.79697 22.64729, 113.79697 22.647..."
5750,1085961942,7218,grass,NaN,"POLYGON ((113.79737 22.64656, 113.79738 22.646..."